/* Image */
$image-sprite: '@/assets/images/sprites.png';
$image-loading: '@/assets/images/icon/loading.svg';

/* Size */
$width-container: 1105px;
$height-footer: 350px;
$height-control: 32px;

/* Color */
$primary: #C20000;
$sub-primary: #ce4f4f;
$primary-hover: #ffe4e4;
// $primary: #1ca8ff;
$secondary: #c1c4cc;
$blue: #0078d7;
$semi-secondary: #707070;
$white: #fff;
$black: #111111;
$text-grey: rgba(0, 0, 0, .54);
$bg-grey: #f4f5f8;
$bg-grey-1: #ededed;
$bg-main: #f5f5f5;
$bg-tab: #ebebeb;
$bg-tab-1: #ececec;

$color-error: #ff7777;
$color-focus: #2080ff;
$color-control-label: #212121;
$color-grey: #757575;


/* Input */

$input-normal-border: 1px solid $secondary;
$input-border-radius: 2px;
$input-hover-border-color: $color-focus;
$input-focus-border-color: $color-focus;
$input-error-border-color: #ff0000;
$input-disabled-color: $secondary;
$input-disabled-bg: $bg-grey;
$input-outline: $black auto 1px;
$input-height: $height-control !default;


/* Font */
$font-weight-bold: 700;

/* Combo */
$combo-height : 32px;

/* Menu */
$menu-wrapper-hv : #e8e9ec;