@import '@/assets/scss/_variables.scss';

.icon24 {
    height: 24px;
    width: 24px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: transparent url($image-sprite) no-repeat;
        height: 24px;
        width: 24px;
        top: 0;
        left: 0;
    }

    &.account::before {
        background-position: -48px -48px;
    }

    &.shopping-cart::before {
        background-position: -216px -24px;
    }

    &.position::before {
        background-position: -582px -10px;
    }

    &.search::before {
        background-position: -670px -10px;
    }

    &.search-red::before {
        background-position: -96px -24px;
    }

    &.service::before {
        background-position: -142px -10px;
    }

    &.three-line::before {
        background-position: -406px -10px;
    }

    &.arrow-down::before {
        background-position: -24px -48px;
    }

    &.news::before {
        background-position: -494px -10px;
    }

    &.shop-red::before {
        background-position: -758px -10px;
    }

    &.previous::before {
        background-position: 0 0;
    }

    &.next::before {
        background-position: -48px -24px;
    }

    &.previous-black::before {
        background-position: -0 -96px;
    }

    &.next-black::before {
        background-position: -24px -96px;
    }

    &.shopping-cart-red::before {
        background-position: -802px -10px;
    }

    &.statistic::before {
        background-position: -54px -10px;
    }

    &.transaction::before {
        background-position: -98px -10px;
    }

    &.dashboard::before {
        background-position: -230px -10px;
    }

    &.logout::before {
        background-position: -362px -10px;
    }

    &.filter::before {
        background-position: -72px -48px;
    }

    &.research::before {
        background-position: -0 -72px;
    }
    &.add-to-cart::before {
        background-position: -0 -136px;
    }
    &.my-account::before {
        background-position: -0 -160px;
    }
    &.change-key::before {
        background-position: -24px -160px;
    }
    &.order-all::before {
        background-position: -48px -160px;
    }
    &.order-await::before {
        background-position: -72px -160px;
    }
    &.order-await-2::before {
        background-position: -96px -160px;
    }
    &.order-delivery::before {
        background-position: -120px -160px;
    }
    &.order-delivery-2::before {
        background-position: -144px -160px;
    }
    &.order-cancel::before {
        background-position: -168px -160px;
    }
    &.order-return::before {
        background-position: -192px -160px;
    }
    &.order::before {
        background-position: -0 -184px;
    }
    &.file::before {
        background-position: -24px -184px;
    }
    &.address::before {
        background-position: -216px -160px;
    }
    &.plus-white::before {
        background-position: -0 -208px;
    }
}

.icon16 {
    height: 16px;
    width: 16px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: transparent url($image-sprite) no-repeat;
        height: 16px;
        width: 16px;
        top: 0;
        left: 0;
    }
    &.tick::before {
        background-position: -0 -120px;
    }
}