@import '@/assets/scss/_variables.scss';

.icon24 {
    height: 24px;
    width: 24px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: transparent url($image-sprite) no-repeat;
        height: 24px;
        width: 24px;
        top: 0;
        left: 0;
    }

    &.account::before {
        background-position: -48px -48px;
    }

    &.shopping-cart::before {
        background-position: -216px -24px;
    }

    &.position::before {
        background-position: -582px -10px;
    }

    &.search::before {
        background-position: -670px -10px;
    }

    &.search-red::before {
        background-position: -626px -10px;
    }

    &.service::before {
        background-position: -142px -10px;
    }

    &.three-line::before {
        background-position: -406px -10px;
    }

    &.arrow-down::before {
        background-position: -24px -48px;
    }

    &.news::before {
        background-position: -494px -10px;
    }

    &.shop-red::before {
        background-position: -758px -10px;
    }

    &.previous::before {
        background-position: -10px -10px;
    }

    &.next::before {
        background-position: -538px -10px;
    }

    &.shopping-cart-red::before {
        background-position: -802px -10px;
    }

    &.statistic::before {
        background-position: -54px -10px;
    }

    &.transaction::before {
        background-position: -98px -10px;
    }

    &.dashboard::before {
        background-position: -230px -10px;
    }

    &.logout::before {
        background-position: -362px -10px;
    }

    &.filter::before {
        background-position: -72px -48px;
    }

    &.research::before {
        background-position: -0 -72px;
    }
}