@import "@/assets/scss/main.scss";
@import "@/assets/scss/_variables.scss";

.header {
    width: 100%;
    height: 67px;
    background-color: $primary;
    display: flex;
    justify-content: center;

    .container {
        width: $width-container;

        .cart-container {
            cursor: pointer;
            // .text-white {
            //     cursor: default;
            // }
        }

        .logo {
            background-image: url("~@/assets/images/logo.png");
            height: 78px;
            width: 78px;
            background-size: 100% 100%;
            cursor: pointer;
        }

        .avatar {
            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin-right: 5px;
            }
        }
    }


    .product-detail-content-main-name {
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
}