@import "@/assets/scss/_variables.scss";


.personal-container {
  width: $width-container;
  min-height: 400px;
  display: flex;

  .container-left {
    flex: 1;

    .menu-tab {
      margin-top: 30px;

      .menu-title {
        font-size: 14px;
        color: $primary;
        display: flex;
        align-items: center;
        cursor: default;
        padding: 10px 0 10px 8px;
        background-color: $bg-tab;
        border-radius: 4px;
        margin-bottom: 2px;

        .next {
          &:before {
            transform: rotate(0deg);
            transition: all 0.3s ease;
          }

          &.expand {

            &:before {
              transform: rotate(90deg) !important;
            }
          }
        }
      }

      .menu-item {
        margin: 4px 0px 4px 0px;
        padding: 4px 4px 4px 24px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
          .text-item {
            color: $primary !important;
          }

          background-color: $bg-tab-1;
        }

        &.active {
          .text-item {
            color: $primary !important;
          }

          background-color: $bg-tab-1;
        }

        .text-item {
          font-size: 12px;
          color: $text-grey;
        }
      }
    }
  }

  .container-right {
    flex: 4;

    .content {

      margin: 28px;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      min-height: 450px;

      &.profile {

        .profile-title {
          font-size: 18px;
        }

        .profile-sub-title {
          font-size: 14px;
          color: $text-grey;
        }



        .container-profile {

          display: flex;

          .profile-left {
            flex: 2;

            .profile-item {
              display: flex;
              align-items: center;

              .label {
                font-size: 16px;
                color: $text-grey;
                text-align: right;
              }
            }
          }

          .profile-right {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .profile-img {
              background-size: contain;
              background-repeat: no-repeat;

              img {
                width: 64px;
                height: 64px;

                &.avatar {
                  width: 120px;
                  height: 120px;
                  border-radius: 50%;
                  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
                }
              }
            }
          }
        }
      }

      &.addresses {
        .address-title {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          .left-title {
            font-size: 18px;
          }

          .right-title {
            font-size: 18px;
            margin-left: auto;
          }
        }

        .address-list {
          .address-item {
            font-size: 14px;
            border-top: 1px solid rgba(0, 0, 0, .09);
            padding: 32px 0;
            display: flex;

            .item-left {
              flex: 3;

              .left-title {
                display: flex;

                .name {
                  font-size: 16px;
                  padding-right: 8px;

                  border-right: 1px solid $text-grey;
                }

                .phone {
                  margin-left: 8px;
                  font-size: 14px;
                  color: $text-grey;
                }
              }

              .detail-address {
                color: $text-grey;
                margin-top: 8px;
              }

              .address-commune {
                color: $text-grey;
                margin-top: 4px;
              }

              .default {
                color: $primary;
                border: 1px solid $primary;
                padding: 2px;
                width: fit-content;
                margin-top: 6px;
              }
            }

            .item-right {
              flex: 1;

              .update-address {
                color: $blue;
                cursor: pointer;
              }

              .delete-address {
                color: $blue;
                cursor: pointer;
              }

              .setting-default {
                margin-top: 12px;
                border: 1px solid rgba(0, 0, 0, .26);
                padding: 4px 12px;
                height: 28px;
                cursor: pointer;
                color: rgba(0, 0, 0, .87);

                &.disabled {
                  cursor: not-allowed;
                  opacity: .7;
                }
              }
            }
          }
        }
      }

      &.reset-password {
        .rs-pw-title {
          font-size: 18px;
        }

        .rs-pw-sub-title {
          font-size: 14px;
          color: $text-grey;
        }

        .rs-pw-control {
          display: flex;
          flex-direction: column;
          align-items: center;

          .rs-pw-item {
            display: flex;
            width: 500px;
            align-items: center;

            .label {
              font-size: 16px;
              color: $text-grey;
              text-align: right;
            }
          }
        }
      }

      &.order-container {
        .order-search {
          .base-input {
            background-color: #eaeaea;
            padding: 5px 0;

            .icon.left {
              margin-left: 16px;
            }

            input {

              background-color: #eaeaea;
            }
          }
        }

        .order-list {
          display: flex;
          flex-direction: column;

          .order-item {
            padding: 16px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            margin-bottom: 16px;

            .order-title {
              font-size: 14px;
              border-bottom: 1px solid rgba(0, 0, 0, .09);
              padding-bottom: 8px;

              .order-code {
                color: $primary;

              }

              .right-title {
                .order-status {
                  color: #2ac0ac;

                  .status-1 {
                    align-items: center;
                    display: flex;
                  }
                }
              }
            }

            .order-body {
              .order-product {
                .product-item {
                  font-size: 14px;
                  padding: 8px 0;
                  border-bottom: 1px solid rgba(0, 0, 0, .09);
                  display: flex;

                  .product-left {
                    img {
                      width: 80px;
                      height: 80px;
                    }
                  }

                  .product-content {
                    flex: 1;
                    margin-left: 8px;

                    .product-name {
                      font-size: 16px;
                      color: rgba(0, 0, 0, .87);
                    }

                    .product-classify {
                      margin-top: 4px;
                      color: rgba(0, 0, 0, .54);
                    }

                    .product-quantity {
                      margin-top: 4px;
                      color: rgba(0, 0, 0, .87);
                    }
                  }

                  .product-right {
                    display: flex;
                    align-items: center;

                    .sale-price-old {
                      text-decoration: line-through;
                      color: #82869e;
                      font-size: 14px;
                    }

                    .sale-price {
                      color: $primary;
                      font-size: 14px;
                    }
                  }
                }
              }
            }

            .order-footer {}
          }
        }

        .order-empty {
          height: 450px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          .empty-text {
            color: rgba(0, 0, 0, .8);
            font-size: 18px;
          }
        }
      }
    }
  }

  .hr {
    border-bottom: 1px solid $text-grey;
    height: 1px;
    width: 100%;
  }
}