@import "@/assets/scss/_variables.scss";

.product-detail {
  .popup-container {
    padding: 20px;
    overflow: auto;
  }

  .title {
    font-size: 22px;
    font-weight: 600;
    color: #262807;
  }

  .list-detail {
    display: flex;
    width: 100%;

    .detail-item {
      border: 1px solid $color-grey;
      margin-right: 4px;
      border-radius: 4px;
      display: flex;
      padding: 4px;
      align-items: center;
      justify-content: center;

      .detail-text {}

      .detail-x {
        margin-left: 4px;
        height: 18px;
        cursor: pointer;
        color: $primary;
        background-color: $bg-tab;
        border-radius: 50%;
        padding: 1px 3px;

        &:hover {
          background-color: $bg-tab-1;
          padding: 2px 4px;
        }
      }
    }
  }

  .table-product {
    width: 100%;

    .table-header {
      display: flex;

      .header-item {
        background-color: #dadada;
        border-right: 1px solid $white;
        padding: 4px 4px;
        font-size: 13px;
      }

      .img_url {
        width: 10%;
        text-align: center;
      }

      .name {
        width: 40%;
      }

      .quantity {
        width: 10%;
      }

      .purchase_price {
        width: 10%;
      }

      .product_discount {
        width: 10%;
      }

      .sale_price_old {
        width: 10%;
      }

      .sale_price {
        width: 10%;
      }
    }

    .product-detail {
      display: flex;

      .detail-item {
        background-color: #ebebeb;
        border-right: 1px solid $white;
        padding: 4px 4px;
        font-size: 13px;
        margin-top: 1px;
      }

      .img_url {
        width: 10%;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }

      .name {
        width: 40%;
      }

      .quantity {
        width: 10%;
      }

      .purchase_price {
        width: 10%;
      }

      .product_discount {
        width: 10%;
      }

      .sale_price_old {
        width: 10%;
      }

      .sale_price {
        width: 10%;
      }
    }
  }
}