@import "@/assets/scss/_variables.scss";

.footer {
  border-top: 3px solid #c20000;
  background-color: #2c2c2c !important;
  color: #8b8b8b;
  grid-area: footer;

  .footer-top {
    background: #f8f9fa !important;
    height: 120px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-top-content{
      width: 1105px;
    }

    .footer-top-content-item {
      // font-size: 13px;
      // font-weight: 500;
      // color: #666;
      // flex-direction: column;
      // letter-spacing: .2px;
      // height: 100%;
      align-items: center;
      margin-right: 20px;

      img {
        max-width: 60px;
        max-height: 60px;
      }

      .about {
        font-family: Roboto, sans-serif;
        font-size: 12px;
        color: #666;
        padding: 2px;
      }
    }
  }

  .footer-bottom {
    background-color: #2c2c2c !important;
    width: 100%;
    height: $height-footer;
    padding: 0 50px;

    .footer-bottom-content {
      width: 100%;

      .footer-content-section {
        padding-top: 20px;
      }

      .footer-bottom-link {
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }

  .footer-logo {
    display: flex;
    justify-content: center;

    .logo-ft {
      background-image: url("~@/assets/images/logo-footer.png");
      height: 110px;
      width: 180px;
      background-size: 100% 100%;
      cursor: pointer;
      border-radius: 4px;
    }
  }

  .footer-link {
    color: #fff;
    font-size: 13px;
    padding-right: 48px;
    padding-bottom: 6px;
  }

  .footer-sale-validate {
    margin-top: 10px;

    img {
      height: 60px;
      width: 125px;
    }
  }

  .footer-content-title {
    color: #5d7b8b;
    font-size: 13px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 414px) {
  .footer {
    display: none;

    .footer-top-content-item {
    }
  }

}