@import "@/assets/scss/_variables.scss";

.product-page {
  width: $width-container;

  .product-navigation {
    padding: 10px 10px;
    color: #999 !important;
    font-size: 13px !important;
    font-family: Roboto, sans-serif;
  }

  .product-page-content {
    padding: 15px;
    background-color: #fff;

    .product-page-image-container {
      flex: 2;
      margin-right: 15px;
      overflow: hidden;

      img {
        min-width: auto;
        height: auto;
        position: relative;
        max-height: 450px;
      }

      .list-product-image {
        .banner {
          img {}
        }
      }
    }

    .product-detail-title {
      flex: 1;
      color: $color-grey;
      font-size: 15px;
    }

    .product-detail-content {
      flex: 4;
      font-size: 14px;
      color: $color-grey;
      font-weight: 500;
    }

    .product-page-infor {
      flex: 3;
      font-size: 16px;

      .outstanding {
        height: fit-content;
        padding: 6px;
        border-radius: 4px;
        background-color: $sub-primary;
      }

      .rate-text {
        border-bottom: 1px solid $primary;
      }

      .count-cm {
        border-bottom: 1px solid $black;
      }

      .product-infor-name {
        color: $black;
        font-size: 22px;
        font-weight: 500;
      }

      .product-infor-code {
        color: $text-grey;
        font-size: 13px;
      }

      .product-infor-price-status {
        padding: 10px;
        font-size: 15px;
        color: $color-grey;
        background: url("~@/assets/images/bg-product-price.jpg");

        .price {
          .old-price-value {
            text-decoration: line-through;
          }

          .price-value {
            font-weight: 500;
          }

          border-bottom: 1px solid #d9d9d9;
          padding-bottom: 5px;
        }

        .status {
          padding-top: 5px;
        }
      }

      .product-infor-delivery {
        margin-top: 50px;
        padding: 10px;
      }

      .product-infor-type {
        padding: 10px;
      }

      .product-infor-quantity {
        padding: 10px;
      }

      .product-infor-placement {
        .btn-add-to-cart {
          display: flex;
          border: 1px solid $primary;
          height: 48px;
          padding: 0 20px;
          cursor: pointer;
          border-radius: 2px;
          width: fit-content;
          align-items: center;
          background-color: #fcecee;

          &:hover {
            background-color: #fdf3f4;
          }

          .add-to-cart-text {
            color: $primary;
          }
        }

        .buy-now {
          height: 48px;
          padding: 0 20px;
          cursor: pointer;
          border-radius: 2px;
          width: fit-content;
          color: $white;
          background-color: $primary;
          line-height: 48px;

          &:hover {
            background-color: #c00a0a;
          }
        }

      }

      .product-old-price {
        text-decoration: line-through;
        color: $color-grey;
        font-size: 16px;
        line-height: 30px;
      }

      .product-price {
        color: $primary;
        font-size: 30px;
      }

      .discount {
        font-size: 12px;
        background-color: $primary;
        color: $white;
        border-radius: 3px;
        padding: 2px 4px;
        font-weight: 600;
        height: fit-content;
      }

      .option-item {
        width: fit-content;
        border: 1px solid $color-grey;
        padding: 5px 12px;
        height: 34px;
        line-height: 23px;
        border-radius: 2px;
        display: inline-block;
        min-width: 80px;
        text-align: center;
        cursor: pointer;
        margin: 0 8px 8px 0;
        position: relative;

        &:hover {
          border: 1px solid $primary;
        }

        &.active {
          border: 1px solid $primary;

          &::before {
            content: "";
            width: 0;
            height: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            border-color: transparent $primary;
            border-style: solid;
            border-width: 18px 18px 0px 0px;
          }

          .icon-stick {
            background: url('~@/assets/images/sprites.png') no-repeat 3px -118px;
            width: 16px;
            height: 16px;
            position: absolute;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }

  .product-description {
    background-color: $white;

    .product-description-info {
      .title-info {
        font-size: 18px;
        padding: 14px;
      }
    }

    .product-list-info {
      margin: 30px 15px 15px;

      .list-information-item {
        margin-bottom: 10px;
        padding: 10px 0 !important;
        font-size: 13px;
      }
    }
  }

  .product-description-main {
    background-color: $white;
    padding: 0px 15px 30px 15px;

    .product-description-title {
      font-size: 18px;
      padding: 14px 0;
      margin-bottom: 20px;
    }
  }

  .product-page-rate {
    background-color: $white;

    .product-page-rate-title {
      font-size: 18px;
      padding: 14px;
    }

    .product-page-rate-content {
      padding: 14px;

      .option-rate {
        padding: 30px;
        margin-bottom: 16px;
        border: 1px solid rgb(249, 237, 229);
        display: flex;

        .rate-info {
          color: $primary;

          .rate-real {
            font-size: 30px;
          }

          .sub {
            font-size: 18px;
            height: fit-content;
            margin-top: 11px;
          }
        }
      }

      .rate-search {
        .option-item {
          width: fit-content;
          border: 1px solid $color-grey;
          padding: 5px 12px;
          height: 34px;
          line-height: 23px;
          border-radius: 2px;
          display: inline-block;
          min-width: 80px;
          text-align: center;
          cursor: pointer;
          margin: 0 8px 8px 0;
          position: relative;
          font-size: 14px;

          &.active {
            border: 1px solid $primary;
            color: $primary;
          }
        }
      }

      .review-content {

        &::-webkit-scrollbar {
          width: 5px;

          &:hover {
            width: 12px;
          }
        }

        .comment-item {
          padding: 16px 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.09);

          .cmt-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #cccccc;
            display: flex;
            align-items: center;
            overflow: hidden;

            img {
              width: 40px;
              height: 40px;
            }
          }

          .cmt-content {
            display: flex;
            flex-direction: column;

            .cmt-user-name {}

            .sub-info {
              color: rgba(0, 0, 0, 0.54);

              .date {}
            }

            .image-cmt {
              max-width: 100px;
              max-height: 100px;
              overflow: hidden;

              img {
                max-width: 100px;
                max-height: 100px;
              }
            }
          }
        }

        &.empty {
          display: flex;
          flex-direction: column;
          align-items: center;

          .img-empty-comment {
            background: url("~@/assets/images/no-comment.png");
            width: 100px;
            height: 100px;
            background-repeat: no-repeat;
            background-size: contain;
            opacity: 0.2;
          }

          .empty-text {
            font-size: 16px;
            color: $text-grey;
          }
        }

        .paging-comment {
          display: flex;
          flex-direction: row-reverse;
          margin-top: 16px;
        }
      }
    }
  }

  .product-page-relation {
    background-color: $white;

    .product-page-relation-title {
      font-size: 18px;
      padding: 14px;
    }

    .relation-content {

      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
      width: fit-content;
      padding: 16px;
    }
  }

  .relation-content-sell {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    gap: 16px;
    width: 212px;
    height: fit-content;
    padding: 16px;
    background-color: $white;
  }
}