@import "@/assets/scss/_variables.scss";

.cart-page {
  width: $width-container;
  min-height: 400px;

  .cart-title {
    font-size: 20px;
    color: $primary;
    padding: 20px 30px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    background-color: $white;
    margin: 8px 0;

  }

  .table-cart {
    .table-header {
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, .8);
      font-size: 14px;
      height: 55px;
      box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
      background-color: $white;
      padding: 0 20px;
      margin-bottom: 8px;

      .ms-checkbox {
        margin: 0 20px 0 12px;
      }

      .product-name {
        width: 46.27949%;
      }

      .product-unitprice {
        width: 15.88022%;
        text-align: center;
      }

      .product-quantity {
        width: 15.4265%;
        text-align: center;
      }

      .product-amount {
        width: 10.43557%;
        text-align: center;
      }

      .product-handle {
        width: 12.70417%;
        text-align: center;
      }
    }

    .table-body {
      box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
      background-color: $white;
      padding: 0 20px;

      .product-item {
        padding: 8px 0;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, .8);
        font-size: 14px;
        border-bottom: 1px solid rgba(0, 0, 0, .09);

        .ms-checkbox {
          margin: 0 20px 0 12px;
        }

        .product-name {
          width: 46.27949%;
          display: flex;
          align-items: center;

          .image {
            img {
              width: 60px;
              height: 60px;
              cursor: pointer;
            }
          }

          .name {
            margin-left: 16px;
            flex: 5;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            cursor: pointer;
          }

          .classify {
            margin-left: 8px;
            flex: 2;

            .detail {
              text-overflow: ellipsis;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              display: -webkit-box;
              overflow: hidden;
            }
          }
        }

        .product-unitprice {
          width: 15.88022%;
          text-align: center;
          display: flex;
          justify-content: center;

          .price-old {
            color: #7c7e8a;
            text-decoration: line-through;
          }

          .price {
            margin-left: 8px;
          }
        }

        .product-quantity {
          width: 15.4265%;
          text-align: center;
        }

        .product-amount {
          width: 10.43557%;
          text-align: center;
          color: $primary;
        }

        .product-handle {
          width: 12.70417%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .table-footer {
      display: flex;
      align-items: center;
      margin: 8px 0;
      height: 100px;
      box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
      background-color: $white;
      font-size: 14px;

      position: -webkit-sticky;
      position: sticky;
      bottom: 66px;
      z-index: 2;

      .footer-left {
        display: flex;
        flex: 1;

        .ms-checkbox {
          margin: 0 18px 0 32px;
        }

        .label-checkbox {
          margin-left: 24px;
        }
      }

      .footer-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
      }
    }
  }

  .cart-empty {
    background-color: $white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .product-page-relation {
    background-color: $white;

    .product-page-relation-title {
      font-size: 18px;
      padding: 14px;
    }

    .relation-content {

      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 5px;
      width: fit-content;
      padding: 16px;
    }
  }
}